@use '../helpers/variables';

.social-media {
  display: flex;

  &__link {
    display: inline-block;
    padding: 14px;
    text-decoration: none;
    transition: variables.$transition;

    & > .icon {
      display: block;
      width: 24px;
      height: 24px;
      stroke: variables.$dark-c;
      transition: variables.$transition;
    }

    &:hover > .icon {
      stroke: variables.$primary-c;
    }
  }
}
